@charset "utf-8";

#wrapper {
  margin: 0;
  padding: 0 4px;
  width: 960px;
}

.main_visual {
  height:420px;
}

.header_box {
  display: flex;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  text-decoration: none;
}