@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap");

/* *** */
html {
  font-size: 3.125vw;
  @media screen and (min-width: 375px) {
    font-size: 2.666666666vw;
  }
  @media screen and (min-width: 390px) {
    font-size: 2.564102564vw;
  }
  @media screen and (min-width: 576px) {
    font-size: 1.736111111vw;
  }
  @media screen and (min-width: 768px) {
    font-size: 1.302083333vw;
  }
  @media screen and (min-width: 992px) {
    font-size: 1.008064516vw;
    & a[href^="tel:"] {
      pointer-events: none;
    }
  }
  @media screen and (min-width: 1080px) {
    font-size: 10px;
  }
}

/* font */
body {
  font-family: "BIZ UDGothic", serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}
body {
  background-color: #fff;
  color: #333;
  font-feature-settings: "palt";
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}
.container {
  font-size: 1.2em;
  line-height: 1.75;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: 375px) {
    font-size: 1.25em;
  }
  @media screen and (min-width: 390px) {
    font-size: 1.3em;
  }
  @media screen and (min-width: 576px) {
    font-size: 1.35em;
  }
  @media screen and (min-width: 768px) {
    font-size: 1.4em;
  }
  @media screen and (min-width: 992px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 1080px) {
    font-size: 1.55em;
  }
  @media screen and (min-width: 1144px) {
    font-size: 1.6em;
  }
}
html,
body,
.container {
  height: 100%;
}
.container-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.footer {
  margin-top: auto;
}

/* .gutters */
.gutters {
  padding-right: 1em;
  padding-left: 1em;
  @media screen and (min-width: 576px) {
    padding-right: 1.25em;
    padding-left: 1.25em;
  }
  @media screen and (min-width: 768px) {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
  @media screen and (min-width: 992px) {
    padding-right: 1.75em;
    padding-left: 1.75em;
  }
  @media screen and (min-width: 1144px) {
    padding-right: 2em;
    padding-left: 2em;
  }
}
.gutters > [class*="-inner"] {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.gutters.document > [class*="-inner"] {
  max-width: 1440px;
}

/* *** */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
}
[class*="-heading"] > .heading-inner {
  display: inline-block;
}
em {
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  font-weight: 600;
}
strong {
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  font-weight: 700;
}
ul.style-none,
ol.style-none {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* clearfix */
[class*="-inner"]::after,
.cf::after,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* *** exclusive to this site *** */
/* * */
.header .heading {
  text-align: center;
  padding: 3em 0 0;
}
.header .heading-inner {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: .15em;
  padding-left: .15em;
}

/* * */
.pkg {
  padding-bottom: 6em;
}
.pkg > .pkg-inner {
  margin-top: 5em;
}
.pkg-heading {
  background-color: #666;
  color: #fff;
  line-height: 1;
  margin: 0 0 1em;
  padding: .4em 1em;
}
.pkg-heading > .heading-inner {
  font-size: 1.5em;
  font-weight: 700;
}
.item,
.subitem {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.item-inner .rectangle {
  background-color: #ccc;
  border: 4px solid #777;
  color: #333;
  line-height: 1;
  display: flex;
  aspect-ratio: 4 / 3;
  width: 100%;
  padding: .5em;
}
.item-inner .rectangle .string {
  font-size: 1em;
  @media screen and (min-width: 390px) {
    font-size: calc(2.5dvw * 1.5);
  }
  @media screen and (min-width: 1080px) {
    font-size: 2.5em;
  }
}

/**
 * ↑↑↑ これより上の部分 ↑↑↑ は改変不可です
 * HTMLファイルも変更不可です
 * ↓↓↓ これより下の部分 ↓↓↓ を自由に使ってください
**/
.main {
  max-width: 1000px;
  margin: 0 auto;
}
.pkg-inner {
  width: 100%;
}
/**
 * .pkg-inner:first-of-type
**/
.pkg-inner:first-of-type .item-inner {
  width: 40%;
  position: absolute;
}
.item {
  position: relative;
}
.pkg-inner:first-of-type .item-inner:nth-of-type(1) {
  z-index: 1;
}
.pkg-inner:first-of-type .item-inner:nth-of-type(2) {
  position: absolute;
  left: 60%;
  z-index: 4;
}
.pkg-inner:first-of-type .item-inner:nth-of-type(3) {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 5;
}
.pkg-inner:first-of-type .item-inner:nth-of-type(4) {
  position: absolute;
  top: 40%;
  left: 60%;
  z-index: 3;
}
.pkg-inner:first-of-type .item-inner:nth-of-type(5) {
  padding-top: 36%;
  position: relative;
  width: 72%;
  z-index: 2;
}

/* .pkg-inner:first-of-type 内の数字の位置を変更 */
.pkg-inner:first-of-type .item-inner .rectangle {
  justify-content: center;
  align-items: center;
}

/**
 * .pkg-inner:nth-of-type(2)
**/
.pkg-inner:nth-of-type(2) .item-inner {
  width: 20%;
  position: absolute;
}
.pkg-inner:nth-of-type(2) .item-inner:nth-of-type(5) {
  width: 60%;
  position: relative;
}

/* .pkg-inner:nth-of-type(2) 内の数字の位置を変更 */
.pkg-inner:nth-of-type(2) .item-inner:nth-of-type(5) .rectangle {
  justify-content: center;
  align-items: center;
}
.pkg-inner:nth-of-type(2) .item-inner:nth-of-type(6) .rectangle,
.pkg-inner:nth-of-type(2) .item-inner:nth-of-type(7) .rectangle,
.pkg-inner:nth-of-type(2) .item-inner:nth-of-type(8) .rectangle,
.pkg-inner:nth-of-type(2) .item-inner:nth-of-type(9) .rectangle {
  justify-content: flex-end;
}

/**
 * .pkg-inner:last-of-type
**/
.pkg-inner:last-of-type .item,
.pkg-inner:last-of-type .subitem {
  display: flex;
  flex-wrap: wrap;
  gap: .75em;
}
.pkg-inner:last-of-type .subitem {
  gap: .5em;
}

/* .pkg-inner:last-of-type の数字の位置はデフォルトを維持 */

/* *** */
